
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/gif" href="../static/icon.gif" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auction App</title>
    <script type="module" crossorigin src="/static/assets/index-bd78b873.js"></script>
    <link rel="stylesheet" href="/static/assets/index-a1a5b93f.css">
  </head>
  <body class = "bg-light">
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/vue-router@4"></script>


    <div class="row d-flex justify-content-center" id="app"></div>

    
  </body>
</html>
